<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Inner Peace</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/base.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/write.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/sidebar.css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
</head>
<body>
<input type="checkbox" class="checkbox" id="create">
<input type="checkbox" class="checkbox" id="search">
<input type="checkbox" class="checkbox" id="more">
<th:block th:if="${session.loginedMember != null}">
    <section class="write-container" th:replace="~{fragment/write::write}"></section>
</th:block>
<th:block th:if="${session.loginedMember != null}">
    <section class="sidebar" th:replace="~{fragment/sidebar::member_sidebar}"></section>
</th:block>
<th:block th:unless="${session.loginedMember != null}">
    <section class="sidebar" th:replace="~{fragment/sidebar::user_sidebar}"></section>
</th:block>
<article class="searchbar" th:replace="~{fragment/searchbar::searchbar}">
</article>
<th:block th:if="${session.loginedMember != null}">
    <section class="map-section" th:replace="~{fragment/writeMap::map-section}"></section>
</th:block>
<th:block th:if="${session.loginedMember != null}">
    <article class="menubar" th:replace="~{fragment/menu::member_menu}"></article>
</th:block>
<th:block th:unless="${session.loginedMember != null}">
    <article class="menubar" th:replace="~{fragment/menu::user_menu}"></article>
</th:block>
<section class="po_ab w100 h100 bg_f4 row z_i1">
    <header class="f_g3 bg_f4">
    </header>
    <main class="f_g5 main1000 col_cc">
        <section class="mt100 w70 h80 overflow_y bor_rad20 scrollbarnone box_sha555" id="follow_section">
            <section id="follow_content">
                <input type="hidden" id="last_follow_no"
                       th:value="${dtoList != null && !dtoList.isEmpty() ? dtoList[dtoList.size() - 1].follow_no : ''}">
                <input type="hidden" id="nickName"
                       th:value="${dtoList != null && !dtoList.isEmpty() ? dtoList[dtoList.size() - 1].nickName : ''}">
                <section class="ml20 w90 h50p row_cc" th:each="item, status : ${dtoList}">
                    <article class="w20 hauto">
                        <img class="h40p wauto" th:src="${item.profile_image}" alt="">
                    </article>
                    <article class="w65 hauto col ml20">
                        <a th:href="@{/user/userpage/{id}(id=${item.nickName})}">
                            <span class="id" th:text="${item.nickName}"></span>
                        </a>
                    </article>
                    <th:block
                            th:if="${session.loginedMember != null and session.loginedMember != item.nickName}">
                        <article class="w10 hauto row_cc ml20">
                            <button class="nomal_btn w100 h30p" id="follow_btn" th:text="${item.followstatus}"
                                    th:data-nickName="${item.nickName}"></button>
                        </article>
                    </th:block>
                </section>
            </section>
            <div class="square_2 op">
                <div class="spin_2"></div>
            </div>
        </section>
    </main>
    <footer class="f_g2 bg_f4">
        <span>© 2024 INNER-PEACE</span>
    </footer>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9cf7f221de3543e0bd1ed40d14a3a704&libraries=services"></script>
<script src="/js/writeMap.js"></script>
<script src="/js/write.js"></script>
<script>
    var followSection = document.getElementById('follow_section');
    var lastFollowNo = document.getElementById('last_follow_no');
    var nickName = document.getElementById('nickName');
    var square2 = document.querySelector('.square_2');

    // 모든 팔로우 버튼을 선택합니다.
    var followButtons = document.querySelectorAll('.nomal_btn');

    // 각각의 팔로우 버튼에 대해 클릭 이벤트 리스너를 추가합니다.
    followButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            // 해당 팔로우 버튼이 클릭되었을 때 실행할 동작을 여기에 추가합니다.
            let nickName = button.dataset.nickName;
            fetch("/user/follow", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: "nickName=" + nickName,
            })
                .then(response => response.text())
                .then(data => {
                    button.innerText = data;
                })
                .catch((error) => {
                    alert(error);
                });
        });
    });


    var scrollTimeout; // 타이머를 저장할 변수

    followSection.addEventListener('scroll', function () {
        // 기존의 타이머를 취소
        if (scrollTimeout) {
            clearTimeout(scrollTimeout);
        }

        // 사용자가 스크롤을 멈춘 후 일정 시간(예: 100ms)이 지난 후에 실행될 함수를 설정
        scrollTimeout = setTimeout(function () {
            // 스크롤이 하단에 도달했는지 확인
            if (followSection.scrollTop + followSection.clientHeight >= followSection.scrollHeight - 30) {
                followSection.scrollTop = followSection.scrollHeight;

                // 통신 전에 opacity를 1로 설정
                square2.style.opacity = 1;

                // fetch 통신
                fetch('/user/' + nickName.value + '/follower/scroll', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'follow_no=' + lastFollowNo.value
                })
                    .then(response => response.json())
                    .then(data => {
                        // 통신이 완료되면 opacity를 0으로 설정
                        square2.style.opacity = 0;
                        appendDataToPage(data);
                        if (data.length > 0) {
                            lastFollowNo.value = data[data.length - 1].follow_no;
                        }
                    });
            }
        }, 100); // 사용자가 스크롤을 멈춘 후 통신을 지연시키는 시간
    });

    function appendDataToPage(data) {
        var followContent = document.getElementById('follow_content');

        data.forEach(function (item) {
            var section = document.createElement('section');
            section.className = 'ml20 w90 h50p row_cc';

            var article1 = document.createElement('article');
            article1.className = 'w20 hauto';
            var img = document.createElement('img');
            img.className = 'h40p wauto';
            img.src = item.profile_image;
            article1.appendChild(img);

            var article2 = document.createElement('article');
            article2.className = 'w65 hauto col ml20';
            var a = document.createElement('a');
            a.href = '/user/userpage/' + item.nickName;
            var span = document.createElement('span');
            span.className = 'id';
            span.textContent = item.nickName;
            a.appendChild(span);
            article2.appendChild(a);

            section.appendChild(article1);
            section.appendChild(article2);

            if (item.followstatus != null) {
                var article3 = document.createElement('article');
                article3.className = 'w10 hauto row_cc ml20';
                var button = document.createElement('button');
                button.className = 'nomal_btn w100 h30p';
                button.type = 'button';
                button.textContent = item.followstatus;
                article3.appendChild(button);
                section.appendChild(article3);
            }

            followContent.appendChild(section);
        });
    }
</script>
</body>
</html>