<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='css/base.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='css/write.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='css/sidebar.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='css/postlist.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='css/map.css'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
</head>

<body>
  <input type="checkbox" class="checkbox" id="create">
  <input type="checkbox" class="checkbox" id="search">
  <input type="checkbox" class="checkbox" id="more">

  <section class="write-container" th:replace="fragment/write::write">
  </section>
  <section class="sidebar" th:if="${#session.getAttribute('loginedHealer') != null}" th:replace="fragment/sidebar::healer_sidebar"></section>
  <section class="sidebar" th:unless="${#session.getAttribute('loginedHealer') != null or #session.getAttribute('loginedAdmin') != null}" th:replace="fragment/sidebar::user_sidebar"></section>
  <article class="searchbar" th:replace="fragment/searchbar::searchbar">
  </article>
  <section class="map-section" th:replace="fragment/map::map-section">
  </section>
  <article class="menubar"  th:if="${#session.getAttribute('loginedHealer') != null}" th:replace="fragment/menu::healer_menu"></article>
  <article class="menubar" th:unless="${#session.getAttribute('loginedHealer') != null or #session.getAttribute('loginedAdmin') != null}" th:replace="fragment/menu::user_menu"></article>
  <section class="container">
    <header>
    </header>
    <main>
      <article class="followList">
        <h2>followLIst</h2>
      </article>
      <article class="post_content">`
        <div class="post" th:each="item, status : ${dtoList}" th:onclick="location.href='board/post/detail/[[${item.post_id}]]'">
            <img src="" alt="Post 1" loading="lazy">
        </div>
      </article>
    </main>
    <footer>

    </footer>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
  <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9cf7f221de3543e0bd1ed40d14a3a704&libraries=services"></script>
  <script src="js/map.js"></script>
  <script src="js/write.js"></script>
</body>

</html>