<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Inner Peace</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/base.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/write.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/modify.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/sidebar.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/postdetail.css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
</head>
<body>
<input type="checkbox" class="checkbox" id="create">
<input type="checkbox" class="checkbox" id="search">
<input type="checkbox" class="checkbox" id="more">
<input type="checkbox" class="checkbox" id="postmenu">
<input type="checkbox" class="checkbox" id="modify">
<input type="checkbox" class="checkbox" id="detail_map">
<section class="po_ab w100 h100 row_cc op z_i0" id="postmenu-container">
    <label class="po_ab w100 h100 z_i0 postmenu_label" for="postmenu"></label>
    <input type="checkbox" class="checkbox" id="report">
    <section class="w10 hauto bor_rad20 bg_f4 z_i5 col_cc">
        <th:block th:if="${session.loginedHealer != null}">
            <th:block th:if="${dto.healer_nickname != session.loginedHealer}">
                <label for="report" class="e0_btn w80 h40p">신고</label>
            </th:block>
            <th:block th:unless="${dto.healer_nickname != session.loginedHealer}">
                <label for="modify" class="e0_btn w80 h40p">수정</label>
                <button id="post_delete" type="button" class="e0_btn w80 h40p" th:onclick="del([[${dto.post_no}]])">삭제
                </button>
            </th:block>
        </th:block>
    </section>
</section>
<section class="po_ab w100 h100 op row_cc z_i0 bg_008" id="modify-container">
    <label class="po_ab w100 h100 z_i0" for="modify"></label>
    <input type="checkbox" class="checkbox" id="modify_confirm">
    <article class="po_ab bg_f4 z_i1 col_cc" id="modify_article">
        <h1 class="bor_bt h50p">게시물 수정하기</h1>
        <img th:src="${dto.post_image}" alt="uploadImg" id="modify_preview">
        <button class="gray_btn w90 h50p" type="button" id="modify_fileButton"
                onclick="document.getElementById('modify_file_input').click()">파일 선택
        </button>
        <button class="gray_btn w90 h50p dis_none" type="button" id="modify_cutButton">자르기</button>
        <label class="gray_btn w90 h50p row_cc" for="modify_confirm" id="modify_submitButton"><span>확인</span></label>
    </article>
    <article class="po_ab z_i0 bg_f4 col_c0 op" id="post_modify"
             th:with="tagString=${#strings.listJoin(dto.tags, ' ')}">
        <div class="f_g1 w90 h50p row_cc bor_bt">
            <h1>게시물 수정하기</h1>
        </div>
        <div class="row_cc w90 f_g13 modify-main">
            <div class="f_g5 row_cc">
                <img class="ml10 w100 h100"
                     th:src="${dto.post_image}"
                     alt="uploadImg" id="post_img">
            </div>
            <div class="col_cc f_g3">
                <textarea id="modify_post_textarea" required placeholder="내용입력">[[${dto.post_content}]]</textarea>
                <section class="row w90 h30p mt10">
                    <form class="row w100 hauto">
                        <article class="w80 h100 row_cc">
                            <input class="w100 h80 text_input" type="text" id="modify_post_tag" readonly
                                   th:value="${tagString}">
                        </article>
                        <article class="w20 h100 ml10 row_cc">
                            <input class="nomal_btn w90 hauto" type="button" id="tag_reset" value="지우기">
                        </article>
                    </form>
                </section>
                <section class="row w90 h30p mt10">
                    <article class="w80 h100 row_cc">
                        <input class="w100 h80 text_input" type="text" id="modify_tag" placeholder="태그 입력">
                    </article>
                    <article class="w20 h100 ml10 row_cc">
                        <button class="nomal_btn w90 hauto" type="button" id="modify_tag_btn">추가</button>
                    </article>
                </section>
                <p class="ml20 w90 h10p row_cc">위치추가</p>
                <section class="row w90 h30p mt10">
                    <article class="w80 h100 row_cc">
                        <input class="w100 h80 text_input" type="text" name="map-search" id="map-search"
                               placeholder="검색할곳">
                    </article>
                    <article class="w20 h100 ml10 row_cc">
                        <button class="nomal_btn w90 hauto" type="button" id="map-search-btn">검색</button>
                    </article>
                </section>
                <div class="map" id="address"></div>
                <form class="w100 hauto row_cc mt20" th:action="@{/board/post/modify}" method="post"
                      enctype="multipart/form-data">
                    <input type="hidden" name="post_no" th:value="${dto.post_no}">
                    <input type="hidden" id="modify_post_tags_hidden" name="post_tags" th:value="${tagString}">
                    <input type="hidden" id="modify_post_content_hidden" name="post_content"
                           th:value="${dto.post_content}">
                    <input type="hidden" name="post_writer" th:value="${session.loginedHealer}">
                    <input type="hidden" id="post_map_lat" name="post_map_lat" th:value="${dto.post_map_lat}">
                    <input type="hidden" id="post_map_lng" name="post_map_lng" th:value="${dto.post_map_lng}">
                    <input class="dis_none" type="file" id="modify_file_input" name="post_image" accept="image/*">
                    <input type="hidden" id="post_img_hidden" name="post_image_thumbnail" value="">
                    <input class="green_btn w90 h50p" type="submit" value="수정하기">
                </form>
            </div>
        </div>

    </article>
</section>
<section class="po_ab w100 h100 row_cc op z_i0" id="commentmenu-container">
    <article class="po_ab w100 h100 z_i0 bg_008" onclick="comment_menu_out()"></article>
    <input type="hidden" id="commentmenu_comment_no" value="">
    <input type="hidden" id="commentmenu_comment_content" value="">
    <section class="po_ab w10 hauto bor_rad20 bg_f4 z_i5 col_cc" id="comment_menu_button">
    </section>
    <section class="po_ab w20 hauto bor_rad20 bg_f4 z_i0 op col_cc" id="comment_modify_section">
        <textarea class="modify_comment_area mb20 mt20" id="comment_modify_area" placeholder="댓글입력"></textarea>
        <article class="row_cc w80 hauto">
            <button class="w20 h50p gray_btn mr20" id="comment_modify_cancel">취소</button>
            <button class="w20 h50p green_btn ml20" id="comment_modify_submit">수정</button>
        </article>
    </section>
</section>
<th:block th:if="${session.loginedHealer != null}">
    <section th:replace="~{fragment/write::write}"></section>
</th:block>
<th:block th:if="${session.loginedHealer != null}">
    <section th:replace="~{fragment/sidebar::healer_sidebar}"></section>
</th:block>
<th:block th:unless="${session.loginedHealer != null}">
    <section th:replace="~{fragment/sidebar::user_sidebar}"></section>
</th:block>
<article th:replace="~{fragment/searchbar::searchbar}">
</article>
<th:block th:if="${session.loginedHealer != null}">
    <section class="map-section" th:replace="~{fragment/writeMap::map-section}"></section>
</th:block>
<section class="w100 h100 po_fi z_i0 col_cc op bg_008" th:fragment="map-section" id="detailMap">
    <label class="po_ab w100 h100 z_i0" for="detail_map"></label>
    <div class="w50 h50" id="de_map"></div>
</section>
<th:block th:if="${session.loginedHealer != null}">
    <article th:replace="~{fragment/menu::healer_menu}"></article>
</th:block>
<th:block th:unless="${session.loginedHealer != null}">
    <article th:replace="~{fragment/menu::user_menu}"></article>
</th:block>
<section class="po_ab w100 h100 bg_f4 row z_i1">
    <input type="hidden" id="post_no" th:value="${dto.post_no}"/>
    <input type="hidden" id="map_lng" th:value="${dto.post_map_lng}">
    <input type="hidden" id="map_lat" th:value="${dto.post_map_lat}">
    <input type="hidden" id="loginedHealer" th:value="${session.loginedHealer}">
    <header class="f_g1 bg_f4">
    </header>
    <main class="bg_f4 f_g6 col_cc gap20">
        <section class="w80 h80 row_c0 bor_rad10 box_sha555">
            <article class="w65 h100 row_cc pad20">
                <img class="wauto hauto obj-fit" th:src="${dto.post_image}" alt="">
            </article>
            <section class="w30 h90 col bg_e0 box_sha555 bor_rad10 gap10">
                <section class="w100 h5 row_c0">
                    <article class="row_c0 w90">
                        <img class="ml10 mr10 w30p hauto" th:src="${dto.healer_profile_image}" alt="profile">
                        <div class="col">
                            <a th:href="@{/user/userpage/{healer_nickname}(healer_nickname=${dto.healer_nickname})}">
                                <span class="ml10 mr10 font_s15 text_hover" th:text="${dto.healer_nickname}">닉네임</span>
                            </a>
                            <label for="detail_map" class="text_hover ml10 mr10" id="de_map_address"></label>
                        </div>
                        <th:block
                                th:if="${session.loginedHealer != null and dto.healer_nickname != session.loginedHealer}">
                            <button class="ml10 mr10 h80 e0_btn">
                                <span id="follow_button" th:text="${dto.followstat}">팔로우</span>
                            </button>
                        </th:block>
                    </article>
                    <article class="row_c0 w10 text_hover">
                        <th:block th:if="${session.loginedHealer != null}">
                            <label class="hauto font_s30 bor_none" for="postmenu">···</label>
                        </th:block>
                    </article>
                </section>
                <section class="w100 h70 overflow_y col gap10 scrollbarnone" id="detail_content">
                    <section>
                        <section class="w100 pad10 row">
                            <article class="w5">
                                <img class="w30p hauto" th:src="${dto.healer_profile_image}" alt="프로필">
                            </article>
                            <article class="w95 hauto ml20 mr20 col">
                                <span>
                                    <a th:href="@{/user/userpage/{healerNickName}(healerNickName=${dto.healer_nickname})}">
                                        <span class="text_hover bold" th:text="${dto.healer_nickname}"></span>
                                    </a>
                                    <span th:text="'  ' + ${dto.post_content}"></span>
                                </span>
                                <div class="row gap10 mt10 ">
                                    <div th:each="item, status : ${dto.tags}">
                                        <a th:href="@{/board/post/search(searchkey=${item})}">
                                            <span class="text_hover" th:text="${item}"></span>
                                        </a>
                                    </div>
                                </div>
                                <span class="mt10 font_s15"
                                      th:text="${#temporals.format(dto.post_regday, 'yyyy/MM/dd HH:mm')}"></span>
                            </article>
                        </section>
                    </section>
                    <section>
                        <section class="w100 pad10 row">
                            <input type="hidden" id="last_comment_no"
                                   th:value="${comment != null && !comment.isEmpty() ? comment[comment.size() - 1].comment_no : ''}">
                            <section class="w95" id="comment_content">
                                <section class="w100 pad10 row" th:each="item, status : ${comment}">
                                    <article class="w5">
                                        <img class="w30p hauto" th:src="${item.healer_profile_image}" alt="프로필">
                                    </article>
                                    <article class="w80 hauto ml20 mr20 col">
                                        <span>
                                            <a th:href="@{/user/userpage/{healer_id}(healer_id=${item.nickName})}">
                                                <span class="text_hover" th:text="${item.nickName}"></span>
                                            </a>
                                            <span th:text="'  ' + ${item.comment_content}"></span>
                                        </span>
                                        <article class="mt10 font_s15 row_cb">
                                            <span class="regday"
                                                  th:text="${#temporals.format(item.comment_regday, 'yyyy/MM/dd HH:mm')}"></span>
                                        </article>
                                    </article>
                                    <article class="w10 hauto">
                                        <th:block th:if="${session.loginedHealer != null}">
                                            <input class="bor_none bg_e0 text_hover font_s20" type="button" value="···"
                                                   th:onclick="comment_menu([[${item.comment_no}]],[[${item.comment_content}]],[[${item.nickName}]])">
                                        </th:block>
                                    </article>
                                </section>
                            </section>
                        </section>
                        <div class="square op">
                            <div class="spin"></div>
                        </div>
                    </section>
                </section>
                <section class="w100 h20 ">
                    <article class="w100 h70 col">
                        <th:block
                                th:if="${session.loginedHealer != null and dto.healer_nickname != session.loginedHealer}">
                            <article class="h40 w100 row_c0">
                                <button class="ml10 w100p h40p bor_rad20 e0_btn" id="like_btn"
                                        th:text="${dto.likeStatus}">
                                </button>
                            </article>
                        </th:block>
                        <article class="ml10 h30 w100 row_c0">
                            <span th:text="'좋아요 ' + ${dto.likes} + ' 개'"></span>
                        </article>
                        <article class="ml10 h30 w100 row_c0">
                            <span th:text="${#temporals.format(dto.post_regday, 'yyyy/MM/dd HH:mm')}"></span>
                        </article>
                    </article>
                    <th:block th:if="${session.loginedHealer != null}">
                        <article class="w100 h30 row_c0">
                            <textarea class="comment_area" id="comment_area" placeholder="댓글입력"></textarea>
                            <button class="w20 h50 green_btn" id="comment_submit">게시</button>
                        </article>
                    </th:block>
                </section>
            </section>
        </section>
        <footer class="bg_f4 h10 w80">
        </footer>
    </main>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9cf7f221de3543e0bd1ed40d14a3a704&libraries=services"></script>
<script src="/js/writeMap.js"></script>
<script src="/js/write.js"></script>
<script src="/js/modify.js"></script>
<script>
    var map_lat = document.getElementById('map_lat').value;
    var map_lng = document.getElementById('map_lng').value;
    var coord = new kakao.maps.LatLng(map_lat, map_lng)
    var mapContainer = document.getElementById('de_map'), // 지도를 표시할 div
        mapOption = {
            center: coord, // 지도의 중심좌표
            level: 1 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);
    var geocoder = new kakao.maps.services.Geocoder();

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: coord
    });

    var callback = function (result, status) {
        if (status === kakao.maps.services.Status.OK) {
            document.getElementById('de_map_address').innerText = result[0].address.address_name;
        }
    };

    geocoder.coord2Address(coord.getLng(), coord.getLat(), callback);

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);
</script>
<script th:inline="javascript">
    $(document).ready(function () {
        // 게시 버튼 클릭 시 이벤트
        $("#comment_submit").click(function () {
            // comment_area에서 입력된 데이터 가져오기
            let commentData = $("#comment_area").val();
            let postNo = $("#post_no").val();
            // AJAX를 사용하여 서버로 데이터 전송
            $.ajax({
                type: "POST",
                url: "/board/comment/write", // 적절한 URL로 변경
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    comment_content: commentData,
                    post_no: postNo
                }), // JSON
                success: function (response) {
                    // 성공적으로 응답 받았을 때의 처리
                    console.log("서버 응답:", response);
                    // 받은 데이터를 이용하여 추가적인 작업 수행 가능
                    $("#comment_area").val('');

                },
                error: function (error) {
                    // 오류 발생 시의 처리
                    console.error("에러 발생:", error);
                    $("#comment_area").val('');
                }
            });
        });
    });
</script>
<script th:inline="javascript">
    function del(post_no) {
        if (!confirm('삭제하시겠습니까?')) {
            return;
        }
        let jsonObj = {'post_no': post_no};
        let jsonStr = JSON.stringify(jsonObj);
        $.ajax({
            type: "POST",
            url: "/board/post/remove",
            contentType: "application/json; charset=utf-8",
            data: jsonStr,
            success: function (data, status, xhr) {
                if (data != null && data != undefined && data.result == 1) {
                    alert(data.msg);
                    window.location.replace('/board');
                } else {
                    alert('삭제를하지못했습니다');
                }
            },
            error: function (xhr, status, error) {
                alert('삭제를하지못했습니다');
            }
        });
    }

    function comment_menu(comment_no, comment_content, healer_id) {
        $('#commentmenu-container').css({'z-index': '20', 'opacity': '1'});
        $('#commentmenu_comment_no').val(comment_no);
        $('#commentmenu_comment_content').val(comment_content);
        const loginedHealer = $('#loginedHealer').val();

        var buttonsContainer = $('#comment_menu_button');
        buttonsContainer.empty(); // 기존 내용을 비웁니다.

        // healer_id가 session.loginedHealer와 같은지 확인
        if (healer_id === loginedHealer) {
            // 수정 및 삭제 버튼 추가
            buttonsContainer.append('<button class="e0_btn w80 h40p" id="comment_modify">수정</button>');
            buttonsContainer.append('<button class="e0_btn w80 h40p" id="comment_delete">삭제</button>');
        } else {
            // 신고 버튼 추가
            buttonsContainer.append('<button class="e0_btn w80 h40p" id="comment_report">신고</button>');
        }

    }
</script>
<script>
    function comment_menu_out() {
        $('#commentmenu-container').css({'z-index': '0', 'opacity': '0'});
        $('#comment_modify_section').css({'z-index': '0', 'opacity': '0'});
        $('#comment_modify_area').val('');
    }

    $('#comment_menu_button').on('click', '#comment_modify', function () {
        $('#comment_modify_section').css({'z-index': '20', 'opacity': '1'});
        $('#comment_modify_area').val($('#commentmenu_comment_content').val());
    });

    $('#comment_modify_cancel').click(function () {
        $('#comment_modify_section').css({'z-index': '0', 'opacity': '0'});
        $('#comment_modify_area').val('');
    });

    $('#comment_menu_button').on('click', '#comment_delete', function () {
        // 삭제 버튼에 대한 이벤트 핸들러 로직
        if (!confirm('삭제하시겠습니까?')) {
            return;
        }
        let comment_no = $('#commentmenu_comment_no').val();
        let jsonObj = {'comment_no': comment_no};
        let jsonStr = JSON.stringify(jsonObj);
        $.ajax({
            type: "POST",
            url: "/board/comment/remove",
            contentType: "application/json; charset=utf-8",
            data: jsonStr,
            success: function (data, status, xhr) {
                if (data != null && data != undefined && data.result == 1) {
                    alert(data.msg);
                    window.location.reload();
                } else {
                    alert('삭제를하지못했습니다');
                }
            },
            error: function (xhr, status, error) {
                alert('삭제를하지못했습니다');
            }
        });
    });

    $('#comment_menu_button').on('click', '#comment_report', function () {
        // 신고 버튼에 대한 이벤트 핸들러 로직
    });

    $('#comment_modify_submit').click(function () {
        let comment_no = $('#commentmenu_comment_no').val();
        let comment_content = $('#comment_modify_area').val();
        let jsonObj = {'comment_no': comment_no, 'comment_content': comment_content};
        let jsonStr = JSON.stringify(jsonObj);
        $.ajax({
            type: "POST",
            url: "/board/comment/modify",
            contentType: "application/json; charset=utf-8",
            data: jsonStr,
            success: function (data, status, xhr) {
                if (data != null && data != undefined && data.result == 1) {
                    alert(data.msg);
                    window.location.reload();
                } else {
                    alert('수정을하지못했습니다');
                }
            },
            error: function (xhr, status, error) {
                alert('수정을하지못했습니다');
            }
        });
    });

    $('#like_btn').click(function () {
        let post_no = $('#post_no').val();
        $.ajax({
            type: "POST",
            url: "/board/post/like",
            data: {
                "post_no": post_no
            },
            success: function (response) {
                if (response.result == 1) {
                    $('#like_btn').text(response.msg);
                }
            },
            error: function (error) {
                // 에러 처리
            }
        });
    });
</script>
<script th:inline="javascript">
    var scrollTimeout; // 타이머를 저장할 변수

    $('#detail_content').scroll(function () {
        var element = $(this);
        $('.square').css('opacity', '1');

        // 이미 설정된 타이머가 있으면 초기화
        if (scrollTimeout) {
            clearTimeout(scrollTimeout);
        }

        // 새로운 타이머 설정
        scrollTimeout = setTimeout(function () {
            if (element.scrollTop() + element.innerHeight() >= element[0].scrollHeight - 30) {
                element.scrollTop(element.prop("scrollHeight"));
                // 2초 지연 후의 로직을 여기에 추가
                setTimeout(function () {
                    var comment_no = $('#last_comment_no').val();
                    var post_no = $('#post_no').val();
                    $.ajax({
                        url: '/board/comment/scroll',
                        type: 'POST',
                        data: {
                            "comment_no": comment_no,
                            "post_no": post_no
                        },
                        success: function (response) {
                            response.forEach(function (item) {
                                $('#comment_content').append(item.commentHtml);
                            });
                            if (response.length > 0) {
                                var lastCommentNo = response[response.length - 1].comment_no;
                                $('#last_comment_no').val(lastCommentNo);
                            }
                        },
                        error: function (error) {
                            // 에러 처리
                        }
                    }).always(function () {
                        $('.square').css('opacity', '0');
                    });
                }, 2000); // 20초 지연
            }
        }, 1000); // 스크롤 이벤트의 1초 지연
    });
</script>
</body>
</html>