<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Inner Peace</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/sidebar.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/base.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/login.css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
</head>
<body>
<input type="checkbox" class="checkbox" id="create">
<input type="checkbox" class="checkbox" id="search">
<input type="checkbox" class="checkbox" id="more">
<section class="sidebar" th:replace="~{fragment/sidebar::user_sidebar}"></section>
<article class="searchbar" th:replace="~{fragment/searchbar :: searchbar}"></article>
<article class="menubar" th:replace="~{fragment/menu :: user_menu}"></article>
<section class="container">
    <header>
    </header>
    <main>
        <section class="login-section">
            <article class="login-header">
                <h1>
                    <a class="login_logo" th:href="@{/}">INNER-PEACE</a>
                </h1>
            </article>
            <form th:action="@{/user/account/signin}" method="post">
                <article class="login-form">
                    <input class="form-input" type="text" name="healer_id" id="healer_id" placeholder="이메일" required>
                    <input class="form-input" type="password" name="healer_pw" id="healer_pw" placeholder="비밀번호"
                           required>
                    <input class="form-button" type="submit" value="로그인">
                </article>
                <article class="login-footer">
                    <div class="auto-login">
                        <input class="auto-login-checkbox" id="checkbox_autologin" name="auto-login" type="checkbox">
                        <label for="checkbox_autologin">자동 로그인</label>
                    </div>

                    <div class="find_info">
                        <a th:href="@{/user/find}">아이디/비밀번호 찾기</a>
                    </div>
                </article>
            </form>
            <article class="regist">
                <span>INNER-PEACE가 처음이신가요?</span>
                <a th:href="@{/user/account/signup}">회원가입</a>
            </article>
        </section>
    </main>
    <footer>

    </footer>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>