<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Inner Peace</title>
</head>
<body>
<article class="searchbar h100 w20 po_fi bg_e0 z_i2 col" th:fragment="searchbar">
    <form class="mt10 w100 col_cc h50p" th:action="@{/board/post/search}" method="get">
        <article class="w80 h100 row_cc">
            <input class="w80 h100 text_input" type="text" name="searchkey" placeholder="검색">
            <input class="nomal_btn w20 h100" type="submit" value="검색">
        </article>
    </form>
</article>
</body>
</html>