<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>sidebar</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <section class="sidebar" th:fragment="healer_sidebar">
        <article class="sidebar-logo">
            <a th:href="@{/}">
                <p>InnerPeace</p>
            </a>
        </article>
        <section class="sidebar-button">
            <article class="home">
                <a th:href="@{/board/post/list}">
                    <button class="Button" type="button">홈</button>
                </a>
            </article>
            <article class="search">
                <label for="search" class="Button">
                    검색
                </label>
            </article>
            <article class="message">
                <a th:href="@{user/message}">
                    <button class="Button" type="button">메시지</button>
                </a>
            </article>
            <article class="write">
                <label for="create" class="Button">
                    만들기
                </label>
            </article>
            <article class="mypage">
                <a th:href="@{/user/userPage}">
                    <button class="Button" type="button">마이페이지</button>
                </a>
            </article>
        </section>
        <article class="sidebar-more">
            <label for="more">
                <button class="Button" type="button">더보기</button>
            </label>
        </article>
    </section>
    
    <section class="sidebar" th:fragment="user_sidebar">
        <article class="sidebar-logo">
            <a th:href="@{/}">
                <p>InnerPeace</p>
            </a>
        </article>
        <section class="sidebar-button">
            <article class="home">
                <a th:href="@{/board/post/list}">
                    <button class="Button" type="button">홈</button>
                </a>
            </article>
            <article class="search">
                <label for="search" class="Button">
                    검색
                </label>
            </article>
            <article class="login">
                <a th:href="@{/user/account/signin}">
                    <button class="Button" type="button">로그인</button>
                </a>
            </article>
        <article class="sidebar-more">
            <label for="more">
                <button class="Button" type="button">더보기</button>
            </label>
        </article>
    </section>
    </section>
</body>

</html>