<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="write-container" th:fragment="write">
    <label class="create_label" for="create"></label>
    <input type="checkbox" class="checkbox" id="confirm">
    <article class="upload">
        <h1>새 게시물 만들기</h1>
        <img src="../../static/img/defualt.PNG" alt="uploadImg" id="preview">
        <input type="file" name="post_image_name" id="file-input" accept="image/*">
        <button class="fileButton" type="button" onclick="document.getElementById('file-input').click()">파일
            선택</button>
        <button class="cutButton" type="button" id="cutButton">자르기</button>
        <label class="submitButton" for="confirm">확인</label>
    </article>
    <article class="post_write">
        <div class="write-header">
            <h1>새 게시물 만들기</h1>
        </div>
        <form th:action="@{/board/write}" method="post">
            <div class="write-main">
                <div class="write_img">
                    <input type="hidden" id="post_map_lat" name="post_map_lat" value="">
                    <input type="hidden" id="post_map_lng" name="post_map_lng" value="">
                    <input type="hidden" id="post_img_hidden" name="post_image_name" value="">
                    <img src="../../static/img/defualt.PNG" alt="uploadImg" id="post_img">
                </div>
                <div class="write_content">
                    <textarea name="post_content" id="post_content" required placeholder="내용입력"></textarea>
                    <input class="tags" type="text" name="post_tag" id="post_tag" readonly>
                    <div class="tag">
                        <input type="text" name="tag" id="tag" placeholder="태그 입력">
                        <button type="button" id="add">추가</button>
                    </div>
                    <p class="map-info">위치추가</p>
                    <div class="add-map">
                        <input type="text" name="map-search" id="map-search" placeholder="검색할곳">
                        <button type="button" id="map-search-btn">검색</button>
                    </div>
                    <div class="map" id="address"></div>
                    <input type="submit" value="공유하기">
                </div>
            </div>
        </form>
    </article>
</section>
</body>
</html>