a {
    color: black;
    /* 링크의 색상을 검은색으로 설정 */
    text-decoration: none;
    /* 밑줄 제거 */
}

html,
 body {
     height: 100%;
     margin: 0;
     padding: 0;
 }

.bg_f4{
    background-color: #f4f4f4;
}

.po_re{
    position: relative;
}

.po__ab{
    position: absolute;
}

.row{
    display: flex;
}

.row_cc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col{
    display: flex;
    flex-direction: column;
}

.col_cc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dis_none{
    display: none;
}

.green_btn{
    width: 90%;
    height: 50px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: white;
    justify-content: center;
    align-items: center;
    transition: background-color 0.7s;
}

.green_btn:hover{
    background-color: #006400;
}

.mt10{
    margin-top: 10px;
}

.mt20{
    margin-top: 20px;
}

.mb10{
    margin-bottom: 10px;
}

.mb20{
    margin-bottom: 20px;
}

.ml10{
    margin-left: 10px;
}

.ml20{
    margin-left: 20px;
}

.mr10{
    margin-right: 10px;
}

.mr20{
    margin-right: 20px;
}

.h100{
    height: 100%;
}

.hauto{
    height: auto;
}

.w100{
    width: 100%;
}

.w90{
    width: 90%;
}

.w80{
    width: 80%;
}

.w70{
    width: 70%;
}

.w60{
    width: 60%;
}

.w50{
    width: 50%;
}

.w40{
    width: 40%;
}

.w30{
    width: 30%;
}

.w20{
    width: 20%;
}

.w10{
    width: 10%;
}





.
